@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import "./animations";
@import "./sections/header";
@import "./sections/partners";
@import "./sections/aboutus";


* {
    box-sizing: border-box;
}

    html,
    body,
    header,
    .view {
      height: 100%;
      font-family: 'Roboto', sans-serif;
    }
    
    .header-bg {
        background-image: url(../images/blue.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 50% 100%;
        height: 100vh;
    }
    
    @import "./navbar";
    @import "./showcase";
    @keyframes spin {
        100% { 
            transform:rotate(360deg); 
        }
    }

    @media (min-width: 768px) { .container { max-width: 720px; }}
    @media (min-width: 1200px) { .container { max-width: 1120px; }}
    @media (min-width: 992px)  { .container { max-width: 945px; }}
   
    @media (min-width:1400px){
      .container {
          max-width: 1330;
      }
  }
      
  
  @media (min-width: 768px) { #navbar .menu button { display: none; }}
  
  
  @media (min-width: 768px) { #navbar .menu ul { display: flex; }}
  
  
  @media (max-width: 740px) {
      .container-search > a {
          display: flex;
          height: 50px;
          width: 50px;
          padding: 5rem;
          border:none
  
  
      }
  }
    
  @media (min-width: 768px) {
    #about-us {
      text-align: left;
    }
  }
   

    .nav-item {
        margin-left: 1rem;
        position: relative;
    }
    
         a {
            color: #ffffff !important;
            font-weight: 500;
        }
            a:hover {
                color: #ffbb00 !important;
            }
    
            a:hover::after {
                position: absolute;
                content: "";
                background-color: #ffbb00;
                width: 2rem;
                height: 0.2rem;
                left: 0.5rem;
                top: 32px;
            }
            

    
        .active::after {
            position: absolute;
            content: "";
            background-color: #ffbb00 !important;
            width: 2rem;
            height: 0.2rem;
            left: 0.5rem;
            top: 32px;   
        }
    
    
    
    
    .container {
        margin: auto;
        overflow: hidden;
       position: relative;
    }
        
    


  .btn {
    text-align: center;
    margin-top: 1rem;
    border: 1px solid transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}


   



.btn-oragn {
    background-color: #ffbb00 ;
    color:#ffffff;
    text-align: center;
    border-radius: 0.75rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.btn-orang:hover {
    background-color: #ffc935;
  }


  .btn-do {
    display: flex;
    background-color: transparent;
    color:#FFFFFF;
    text-align: center;
    border-radius: 0.75rem; 
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding: 0.75rem;
    border: 1px solid white;

}

 
.btn-go {
    background-color:#F8F8F8 ;
    color:#333333;
    text-align: center;
    border-radius: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: transparent;    
    font-weight: bold;

  }

  .btn-app {
    background-color:#F8F8F8 ;
    color:#333333;
    text-align: center;
    border-radius: 0.75rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    border: transparent;    
    font-weight: bold;
  }



#showcase  .container{
    margin-top: 3rem;
    color: #ffffff;
    text-align: center;
  }
  
  #showcase h1 {
    font-size: 57px;
    font-weight: bold;
  }
  
  #showcase p {
    font-weight: bold;
    width: 80%;
  }
  
  #showcase .mobile {
    text-align: right;
  }
  
  #showcase .mobile img {
    height: auto;
    width: 100%;
  }

  


/*
    @media (min-width: 768px) {
        text-align: left;
    }
*/
   
    @media (min-width: 992px) {
        #showcase {
          text-align: left;
        }
      }


      #about-us {
        padding-top: 3rem;
        text-align: center;
      }
      
      

      
      #about-us .left-column {
        flex: 1;
        position: relative;
      }
      
      #about-us .left-column .mobile-bg {
        position: absolute;
        z-index: -1;
        top: 5%;
        left:-25%;
        animation: spin 4s linear infinite;
      }
      
      #about-us .right-column {
        flex: 1;
      }
     

      .contact {
        justify-items:center ;
        text-align: center;
      }
      .form {
        margin-bottom: 2rem;
      }
       .form h3 ,p {
         color:#CCCCCC ;
       }
       .btn-form {
         background-color: #3096FE;
         padding-left: 2rem;
         padding-right: 2rem;

       }


       footer {

        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
          left: 0;
          bottom: 0;
          width: 100%;
          padding-top: 3rem;
            
   
      }



      .footer-img {
        display: flex;
        justify-content: center;
      }

      .so {
        display: flex;
        justify-content: center;
      }